<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title> Jigs' Blog </title>
  <meta name="viewport" content="width=device-width"> </meta>
  <link href="https://fonts.googleapis.com/css?family=Ribeye|Bubblegum+Sans" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'index.css' %}"/>
</head>
<body>

  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">


            {% if request.user.is_staff %}
            <li.disable:hover role="presentation" >
              <a href="{% url 'admin:index' %}" class="text-muted" title="Logout">
                <i class="fa fa-pied-piper-alt fa-2x"></i>
              </a>
            </li.disable:hover>
            {% endif %}


            {% if request.user.is_authenticated %}
            <li.disable:hover role="presentation" >
            <a href="{% url 'post_manage' %}" class="text-muted" title="Manage Your Posts">
              <i class="fa fa-cog fa-2x"></i>
            </a>
          </li.disable:hover>
            <li.disable:hover role="presentation" >
            <a href="{% url 'logout' %}?next={% url 'index' %}" class="text-muted" title="Logout">
              <i class="fa fa-sign-out fa-2x"></i>
            </a>
          </li.disable:hover>
            {% else %}
            {% if request.path != "/accounts/login/" %}
            <li.disable:hover role="presentation" ><!-- login_with_facebook.html START -->
              <a href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}">
                <div class="btn btn-primary btn-lg" >
                  <i class="fa  fa-facebook"></i>
                  &nbsp;
                  login with facebook
                </div>
              </a>
              <!-- login_with_facebook.html END --></li>
            {% endif %}
            {% endif %}
            {% if request.path != "/accounts/login/" %}


            {% endif %}
          </ul>
          <div class="text-muted home" title="Home">
            <a href="{% url 'index' %}">
              <i class="fa fa-home fa-2x"></i>

            </a>
            </div>

        </nav>

      </div>







  <div class="container">
{% if not post_view %}
    <div class="jumbotron">
      {% if request.user.is_authenticated %}
      <h1> Happy 30th Birthday Danny! </h1>
      <p class="lead"> 12th May 2016 </p>
      {% else %}
      <h1> Welcome to Jig's Blog </h1>
      <p class="lead"> A collection of all things random</p>
      {% endif %}
      {% if not edit_or_create_post and request.user.is_authenticated %}
      <p><a class="btn btn-lg btn-success" href="{% url 'post_new' %}" role="button"> Add a post </a></p>
      {% endif %}
    </div>
    {% endif %}
    {% if messages %}

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Thank you!</strong> {{ message }}
  </div>
  {% endfor %}

{% endif %}



{% block content %}
{% endblock %}
    </div>
  </div>
</body>
</html>
