img{
  max-height: 800px;
}
.thumbnail {
  max-height: 100px;
}

.jumbotron{
  text-align: center;
}

.lead{
  font-family: sans-serif;
  font-size: 1em;
}

h3{
  font-family: sans-serif;
}
.home{
  padding-left: 20px;
}
a{
  color: grey;
  text-decoration: none;
}
a:hover{
  color:green;
  text-decoration: none;
}
